{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Кулинарная книга</h1>
            <span class="subheading">коллекция рецептов для быстрого поиска</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">рецепт от
            <a href="{{url_for('show_author_post', author_id=post.author.id)}}">{{post.author.name}}</a>
            записан {{post.date}}

            {% if current_user.id == 1: %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}

          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        {% if current_user.is_authenticated: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Записать новый рецепт</a>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}
